<!doctype html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    
    <title>lil blk book</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <img id="coverImg" src="img/cover-1.png" alt="">

        <p>- lil black book -</p>

        <a href="/login" class="btn btn-default"></span>Login</a>
        <a href="/signup" class="btn btn-default"></span>Signup</a>

    </div>

</div>
</body>
</html>
